#solar-wrapper {
    background-image: url("./images/background3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    font-size: 2em;
}

#starwars-wrapper {
    background-color: goldenrod;
}

#planet-map, #result-image, #dropdown-submit, 
#random-planet-button, #star-wars-panel, #trivia-text,
#marsImage {
    background: #999;
}

#mars-rover, #result-info {
    background-color: #333;
}

#trivia-button {
    opacity: 1.0 !important;
}
#trivia-btn {
    font-size: 30px;
}
#title {
    font-family: 'Monoton', cursive;
    font-size: 85px;
}

#star-wars-logo {
    font-size: 70px;
    color: #F0F8FF;
}

/* below added by Allie for Solar System Section Specifically */
#ssImg {
    width: 100%;
}
.ssResImg {
    max-height: 300px;
    max-width: 300px;
}

.border {
    border-width: 4px !important;
}

/* trying to change planet outline issue
area[target] {
    outline-color: none;
} */
#resMarsImg {
    max-height: 300px;
    max-width: 380px;
}

#planet-img {
    height: 200px;
    width: 200px;
}

.population-legend, .population-graphic {
    text-align: left;
}

/* trying to change planet outline issue
area[target] {
    outline-color: none;
} */
