#planet-map, #result-image, #result-info, #dropdown-submit, #random-planet-button, #star-wars-panel {
    border: 2px solid palevioletred;
    background: white;
    opacity: 0.5;
}
#title {
    font-family: 'Monoton', cursive;
    font-size: 85px;
}
#star-wars-logo {
    font-size: 70px;
    color: #F0F8FF;
}
