

/* ==========================================================================
   General Styles
   ========================================================================== */

html {
    background-image: linear-gradient(grey, black);
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

#newTitle {
    font-family: 'Russo One', sans-serif;
    font-size: 8em;
}

#intro {
    font-size: 2em;
}

#planet-map, #result-image, #dropdown-submit, 
#random-planet-button, #star-wars-panel, #trivia-text,
#marsImage {
    background: #999;
}

#mars-rover, #result-info {
    background-color: #333;
}

.border, .border-left, .border-right, .border-bottom, .border-top  {
    border-width: 4px !important;
}


/* ==========================================================================
   Solar System
   ========================================================================== */

#solar-wrapper {
    background-image: url("./images/background3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

map:active {
    text-decoration: none;
}

/* below added by Allie for Solar System Section Specifically */
#ssImg {
    width: 100%;
}

.ssResImg {
    max-height: 300px;
    max-width: 300px;
}

/* remove image map blue outlines once clicked */

img[usemap], map area{
    outline: none;
}

#trivia-button {
    opacity: 1.0 !important;
}

#trivia-btn {
    font-size: 30px;
}


/* ==========================================================================
   Mars Section
   ========================================================================== */


#resMarsImg {
    max-height: 300px;
    max-width: 380px;
}

#marsImage img {
    height: 275px;
    width: 350px;
}


/* ==========================================================================
   Star Wars
   ========================================================================== */

#starwars-wrapper {
    background-color: goldenrod;
    /* background-image: url(..star-wars-app/images/wookieebackground.jpg); */
}

#star-wars-logo {
    background-color: black;
}

#startwars-info {
    background: url(../star-wars-app/images/tatooinebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#star-wars-logo {
    background: url(../star-wars-app/images/starfield.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#star-wars-logo img {
    height: 300px;
    width: 500px;
}

.population-legend, .population-graphic {
    text-align: left;
}

#planet-details {
    font-size: 1.2em;
    color: #fff;
}

#planet-img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: #333;
    font-size: 1.2em;
    color: #fff;
}


#planet-residents, #residents-wrapper, #random-wrapper {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

#planet-residents {
    background-color: #333;
}

#wookiee-container {
    background-image: url(../star-wars-app/images/wookieebackground.jpg);
}